<nav class="pagination is-small" role="navigation" aria-label="pagination">
  <a class="pagination-previous" title="This is the first page">Previous</a>
  <a class="pagination-next">Next page</a>
  <ul class="pagination-list">
    <li>
      <a :class="{'pagination-link':true, 'is-current':isCurrent}" aria-label="Page 1" aria-current="page">1</a>
    </li>
    <li>
      <a :class="{'pagination-link':true, 'is-current':isCurrent}" aria-label="Goto page 2">2</a>
    </li>
    <li>
      <a :class="{'pagination-link':true, 'is-current':isCurrent}" aria-label="Goto page 3">3</a>
    </li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li>
      <a :class="{'pagination-link':true, 'is-current':isCurrent}" aria-label="Goto last page">{{lastPage}}</a>
    </li>
  </ul>
</nav>