<div :class="{modal:true, 'is-active':isActive}">
  <div class="modal-background"></div>
  <div class="modal-content ExamCenterModal">

<div class="columns">
<span class="column ExamCenterLogo">
    <img src="../../../assets/img/logo.png"/>
</span> 

<span class="column">    
  <h2>Add Exam Center</h2>
<div class="centerForm">

    <div class="field">
    <p class="control has-icons-left">
        <input class="input" type="number" placeholder="Capacity">
        <span class="icon is-small is-left">
          <i class="fa fa-pie-chart"></i>
        </span>
    </p>
    </div>

    <div class="field">
    <p class="control has-icons-left">
        <textarea class="textarea" placeholder="Write center description here."></textarea>
    </p>
    </div>

    <span class="columns">
    <div class="field is-horizontal column">
    <p class="control is-expanded has-icons-left">
        <span class="select">
        <select>
            <option selected>State</option>
            <option>Abia</option>
            <option>Adamawa</option>
        </select>
        </span>
        <span class="icon is-small is-left">
          <i class="fa fa-globe"></i>
        </span>
    </p>
    </div>

    <div class="field column">
    <p class="control" style="float:right">
        <button class="button is-primary">
        Add center
        </button>
    </p>
    </div>
    </span>

</div>
</span>

</div>    
  </div>
  <button class="modal-close is-large" aria-label="close" @click="closeModal"></button>
</div>
