<div :class="{modal:true, 'is-active':isActive}">
  <div class="modal-background"></div>
  <div class="modal-content ExamCenterModal">

<div class="columns">
<span class="column ExamCenterLogo">
    <img src="../../../assets/img/logo.png"/>
</span> 

<span class="column">    
  <h2 class="title is-6">Add Exam Center</h2>
<div class="centerForm" v-if="response_status == undefined">

    <div class="field">
    <p class="control has-icons-left">
        <input class="input" type="number" placeholder="Capacity" v-model="examcenter.capacity">
        <span class="icon is-small is-left">
          <i class="fa fa-pie-chart"></i>
        </span>
    </p>
    </div>

    <div class="field">
    <p class="control has-icons-left">
        <textarea class="textarea" placeholder="Write center description here." v-model="examcenter.description"></textarea>
    </p>
    </div>

    <span class="columns">
    <div class="field is-horizontal column">
    <p class="control is-expanded has-icons-left">
        <span class="select">
        <select>
            <option selected>State</option>
            <option>Abia</option>
            <option>Adamawa</option>
        </select>
        </span>
        <span class="icon is-small is-left">
          <i class="fa fa-globe"></i>
        </span>
    </p>
    </div>

    <div class="field column">
    <p class="control" style="float:right">
        <button class="button is-primary" @click="createNew">
        Add center
        </button>
    </p>
    </div>
    </span>
</div>

    <div v-else-if="response_status == 200" style="margin-top:50px">
        <article class="message is-primary">
        <div class="message-header">
            <p>Success</p>
            <button class="delete" aria-label="delete" @click="clear"></button>
        </div>
        <div class="message-body" style="padding:50px;text-align:center">
          <strong>Exam Center Added Successfully!!</strong>
        </div>
        </article>
    </div>

    <div class= "columns" v-else>
        <span class="column"></span>
        <span class="column" style="margin-top:100px;padding-bottom:100px">
            <FadeLoader
                :loading = "loading"  
                color="#da251c"
                size="20px"
            ></FadeLoader>
        </span>
    </div>

</span>

</div>    
  </div>
  <button class="modal-close is-large" aria-label="close" @click="closeModal"></button>
</div>
