
<tr>
  <template>
    <td class="applicantName" @click="isActive = true">{{applicant.surname+' '+applicant.otherNames}}</td>
    <td>{{applicant.gender}}</td>
    <td>{{applicant.mobileNo1}}</td>
    <td>{{applicant.lgaid.stateid.description}}</td>
    <td>{{applicant.lgaid.description}}</td>
    <td>{{applicant.regnumber}}</td>

    <applicantsInfo
      :applicant="applicant"
      :closeModal="closeModal"
      :isActive="isActive"
      v-if="isActive === true"
    ></applicantsInfo>
  </template>  
</tr>

