<div class="exam_center_table">
<span class="columns">
    <span class="column is-one-quarter"></span>
    <span class="column"><h2 class="title is-4">Exam Centers</h2></span>
    <span class="column is-one-quarter">
    </span>
</span>  

<span v-if="examcenters.length > 0">
<div class="table_ctrl">
    <router-link
        to = "/admin/exam_center_upload/print_centers"
        class="table_ctrl_item">
        <i class="fa fa-print"></i>
    </router-link>
    <a 
        @click = "setAddModalActive"
        class="table_ctrl_item">
        <i class="fa fa-plus"></i>
    </a>
    <router-link 
        to="/admin/exam_center_upload/uploadcenters"
        class="table_ctrl_item">
        <i class="fa fa-upload"></i>
    </router-link>
    <a
        @click = "deleteCenter"
        class="table_ctrl_item">
        <i class="fa fa-trash"></i>
    </a>
</div>   
<table class="table is-fullwidth is-bordered is-striped is-narrow">
    <thead>
      <tr>
        <th><input type="checkbox" v-model="selectAll"/></th>
        <th>Serial number</th>
        <th>Centre</th>
        <th>Capacity</th>
        <th>Applicants</th>
      </tr>
    </thead>
    <tbody> 
        <examCenterTableItem 
          v-for="(center, index) in examcenters" 
          :key="index"
          :centerName="center.description"
          :serialNum = "center.examcentreid"
          :centerCapacity = "center.capacity"
          :applicantsNum = "center.applicants"
          :checkbox = "ec_checkboxes"
          :cid = "center.examcentreid"
          :isSelected = "isSelected"
        >
        </examCenterTableItem>
    </tbody>
</table>   

<addCenter
  :isActive="openModal"
  :closeModal = "setAddModalActive"
>
</addCenter>
</span>

<span class="columns" v-else>
    <span class="column"></span>
    <span class="column" style="margin-top:200px;padding-bottom:200px">
        <FadeLoader
          :loading = "loading"  
          color="#da251c"
          size="20px"
        ></FadeLoader>
    </span>
</span>
</div>    