<div :class="{modal:true, 'is-active':isActive}">
    <div class="modal-background"></div>
    <div class="modal-content userManagementModal">
      
<div class="columns">
<span class="column userManagerLogo">
    <img src="../../../assets/img/logo.png"/>
</span> 

<span class="column">    
        <h2 class="title is-6">Add New User</h2>
        
      <div class="centerForm" v-if="response_status == undefined"  >
      
          <div class="field">
          <p class="control ">
              Full Name:
              <input class="input"  data-vv-delay="100" v-validate="'required'" type="text" placeholder="John Mark" v-model="user.fullname">
          </p>
          </div>

          <div class="field">
            <p class="control" >
                E-mail:
                <input :class="{'input': true, 'is-danger': errors.has('email') }" type="text" placeholder="john12@gmail.com" 
                v-model="user.emailaddress" v-validate="'required|email'" >
                <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
            </p>
            </div>
            <div class="field">
                <p class="control ">
                    Phone Number:
                    <input class="input"  data-vv-delay="100" v-validate="'required'" type="text" placeholder="0819000320" v-model="user.phonenumber">
                </p>
                </div>
            
            <div class="field">
            <p class="control ">
                Password:
                <input v-validate="'required|min:6'" class="input" type="password" placeholder="*******" 
                v-model="user.pissid" >
               
            </p>
            </div>

            <div class="field">
            <p class="control ">
                Confirm Password:
                <input class="input" v-validate="'required|confirmed:password'" type="password" placeholder="*******" 
                v-model="user.confirmpassword" data-vv-as="pissid">
                
            </p>
            </div>
            <div class="alert alert-danger" v-show="errors.any()">
                    <div v-if="errors.has('password')">
                      {{ errors.first('password') }}
                    </div>
                    <div v-if="errors.has('confirmpassword')">
                      {{ errors.first('confirmpassword') }}
                    </div>
                  </div>

            <div class="box">
            <div class="control is-grouped">
                <p v-model="user.adminusersGroupsList"><strong>
                    User Groups:</strong></p>

                <p class="control">
                <label class="checkbox ">
                <input type="checkbox" id="adminconsultant" value="Admin-Consultant" v-model="checked"/>
                    Admin-Consultant
                </label>
                </p>
            <p class="control">
            <label class="checkbox">
             <input type="checkbox" id="adminschool" value="Admin-School" v-model="checked"/>
                Admin-School
            </label>
            </p>
        <p class="control">
            <label class="checkbox">
             <input type="checkbox" id="userconsultant" value="User-Consultant" v-model="checked"/>
             User-Consultant
            </label>
            </p>
        <p class="control">
            <label class="checkbox">
            <input type="checkbox" id="userschool" value="User-School" v-model="checked"/>
             User-School
            </label>
             </p>

             

</div>
 </div>

 <div class="field column">
    <p class="control" style="float:right">
    <button class="button is-primary" type="submit" @click="validateBeforeSubmit() + profilecheck() + createNew()">
            Add User
    </button>
    </p>
        </div>
        
    
</div>
<div v-else-if="response_status == 200" style="margin-top:50px">
    <article class="message is-primary">
    <div class="message-header">
        <p>Success</p>
        <button class="delete" aria-label="delete" @click="clear"></button>
    </div>
    <div class="message-body" style="padding:50px;text-align:center">
      <strong>User Added Successfully!!</strong>
    </div>
    </article>
</div>

<div class= "columns" v-else>
    <span class="column"></span>
    <span class="column" style="margin-top:100px;padding-bottom:100px">
        <FadeLoader
            :loading = "loading"  
            color="#da251c"
            size="20px"
        ></FadeLoader>
    </span>
</div>

</span>
    
</div>    
</div>
<button class="modal-close is-large" aria-label="close" @click="closeModal"></button>
</div>
    