.navbar{

    background: -webkit-linear-gradient(left, rgba(255,0,0,0), #00923f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,0,0,0), #00923f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,0,0,0), #00923f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,0,0,0), #00923f); /* Standard syntax (must be last) */
}

.nlink:hover{
    background-color: transparent; 
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.box{
    background-color: ghostwhite;
}

.index{
    padding: 50px;
}

.applicant_table{
    margin-top: 30px;
}

.applicant_table > table > thead > tr > th{
    border-top: 1px solid #da251c;
}

.exam_center_table > table > thead > tr > th{
    border-top: 1px solid #da251c;
}

.search_area{
    margin-top: 20px;
}

.column > h2{
    text-align: center;
    color:#00923f;
    font-size: 20px;
    font-weight: 700;
}

nav > .panel-heading{
    background-color: #00923f;
    color: #fff;
}

.tabs{
    margin-bottom: -10px
}

.table_ctrl{
    background-color: #da251c;
    width:130px;
    float:right;
    height:25px;
    border-radius: 3px;
}

.table_ctrl_item {
    color:#fff;
    padding:7px 7px 7px 7px;
    cursor: pointer;
}

.table_ctrl_item:hover{
    background-color: transparent;
}

.centerForm{
    padding-top:30px;
    text-align: center
}

.ExamCenterModal{
    background-color:#fff;
    height:400px;
    width:800px;
    padding:50px;
    border-radius:5px
}

.ExamCenterLogo{
    padding-top:85px;
}