.navbar{

    background: -webkit-linear-gradient(left, rgba(255,0,0,0), #00923f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,0,0,0), #00923f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,0,0,0), #00923f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,0,0,0), #00923f); /* Standard syntax (must be last) */
}

.nlink{
    cursor: pointer; 
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.box{
    background-color: transparent;
}

.index{
    padding: 50px;
}

.applicant_table{
    margin-top: 30px;
}

.applicant_table > table > thead > tr > th{
    border-top: 1px solid #00923f;
}

.exam_center_table > table > thead > tr > th{
    border-top: 1px solid #00923f;
}

.dash_tables > table > thead > tr > th{
    border-top: 1px solid #00923f;
}

.search_area{
    margin-top: 20px;
}

.column > h2{
    text-align: center;
    color:#00923f;
}

nav > .panel-heading{
    background: -webkit-linear-gradient(left, rgba(255,0,0,0), #00923f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,0,0,0), #00923f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,0,0,0), #00923f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, rgba(255,0,0,0), #00923f); /* Standard syntax (must be last) */
    color: #fff;
}

.tabs{
    margin-bottom: -10px
}

.table_ctrl{
    background-color: #da251c;
    width:130px;
    float:right;
    height:25px;
    border-radius: 3px;
}

.table_ctrl_item {
    color:#fff;
    padding:7px 7px 7px 7px;
    cursor: pointer;
}

.table_ctrl_item:hover{
    background-color: transparent;
}

.centerForm{
    padding-top:30px;
    text-align: center
}

.ExamCenterModal{
    background-color:#fff;
    height:400px;
    padding:50px;
    border-radius:5px
}

.ExamCenterLogo{
    margin-top:75px;
}

.mainTab{
    background-color: transparent;
    border: 1px solid #f0f0f0;
}

.pagntn{
    margin-bottom: -150px
}

.applicantName{
    cursor: pointer;
}

.info_id{
    color:#666;
}

.info_{
    color: #00923f
}

.infoModal{
    position: relative;
    width:840px;
    height: 100%;
}