<div class="box">
        <p class="heading">Application Ends</p>
        <p class="title">
            <iframe src="http://free.timeanddate.com/countdown/i5x7u7af/n742/cf12/cm0/cu4/ct4/cs1/ca0/co1/cr0/ss0/cac000/cpc000/pcfff/tcfff/fs100/szw256/szh108/tac000/tpc000/iso2018-03-10T00:00:00"
                allowTransparency="true" frameborder="0" width="112" height="27"></iframe>

            <!-- <span data-cdt-id="1963114">--:--:--:--</span>,
            <script src="https://w2.countingdownto.com/1963114.js"></script> -->
        </p>
        <p class="heading">Registered Application</p>
        <p class="title" style="color:#E64C4C;font-size:25px">{{applicationstatus.appregistered}}</p>

        <p class="heading">Paid Application</p>
        <p class="title" style="color:#E64C4C;font-size:25px">{{applicationstatus.paid}}</p>


        <p class="heading">Completed Application</p>
        <p class="title" style="color:#E64C4C;font-size:25px">{{applicationstatus.appcompleted}}</p>
 


     
</div>