<div class="tile is-ancestor" style="width:100%">
  <div style="text-align:center;">
    <h2 class="tag is-dark"><strong style="color:#fff">
      <i class="fa fa-eye"></i> <span>Click to Preview</span>
    </strong></h2>
  </div><br/>
    
  <div  class="columns is-centered">
    <div v-if="appDocs != undefined">
      <div class="column" style="display:inline-flex" v-for="(doc,index) in appDocs">         
        <div class="card doc-thumbnail" @click="docSelected(doc.dockname,doc.doctype)">
          <div class="card-image" style="text-align:center">
              <img 
                alt="applicant document" 
                :src="'https://s3.amazonaws.com/comsoftltd.net/nda69thregular/otherdoc/'+doc.dockname"
                height="180"
                width="120"/>
          </div>
          <div class="card-content docName">
            <div><small>{{doc.doctype}}</small></div>
          </div> 
        </div>
      </div>
    </div>

    <template v-else>
      <div class="column">         
        <div class="">
          <div class="">
            <div style="color:#da251c;text-align:center;margin-top:30px">
              <i class="fa fa-warning"></i>
              <strong style="color:#da251c"><small>No document to preview</small></strong>
            </div>
          </div> 
        </div>
      </div>
    </template>
  </div>


<div :class="{'modal':true, 'is-active':isDocSelected}">
  <div class="modal-background"></div>
  <div class="modal-content docpmodal">
    <p class="image">
        <img :src="selectedDoc.src" alt="selectedDoc.name">
    </p>
  </div>
  <button class="modal-close is-large" aria-label="close" @click="deselectDoc"></button>
</div>  
</div>