<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="../../assets/img/logo.png"/>
      </a>
  
      <button class="button navbar-burger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div class="navbar-menu">
            <div class="navbar-start"></div>
    </div>
    <div class="navbar-end">
        <span class="navbar-item is-hidden-desktop-only nlink" style="color: #fff500;">
            <span class="icon">
              <i class="fa fa-lg fa-question-circle"></i>
            </span>
            <span>FAQ</span>
        </span>
    </div>
    
    <div class="navbar-item">
        <div class="field is-grouped">
            <p class="control">
            <a class="bd-tw-button button">
                <span class="icon">
                <i class="fa fa-ticket"></i>
                </span>
            <span>Support</span>
            </a>

            </p>
            <p class="control">
            <a class="button is-danger" @click="userLogout">
                <span class="icon">
                <i class="fa fa-lock"></i>
                </span>
                <span>Logout</span>
            </a>
            </p>
        </div>
    </div>        
</nav>