<div class="box" style="padding:50px;background-color:ghostwhite">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="../assets/img/logo.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Welcome to Nigerian Defense Academy</strong> <small>Admin Portal</small>
          <br>
          Hello <small style="color:#da251c">Mr, Muhammed.</small><br/>
          Use the tabs above to navigate around the portal.<br/>
          If you have any difficulties;
          <ul>
            <li>You can send for support by clicking the button at the top right</li>
            <li>Or check the FAQ for solutions to frequent issues.</li>
            <li>Call for support</li>
            <li>Send an email to : <small style="color:#da251c">info@comsoftltd.com</small></li>
          </ul>
        </p>
      </div>
    </div>
  </article>
</div>

    