
<div :class="{modal:true, 'is-active':isActive}">
    <div class="modal-background"></div>
    <div class="modal-card infoModal">
      <header class="modal-card-head">
        <personalInfo 
          :applicant="applicant">
        </personalInfo>
        
      </header>

      <section class="modal-card-body">
        <infoTab :dcount="applicant.documentsList"></infoTab>
        <qualifications 
          :style="{display:displayQualifications}"
          :appQualification="sortQualification">
        </qualifications>

        <documents 
          :style="{display:displayDocs}"
          :appDocs="applicant.documentsList">
        </documents>
      </section>

      <footer class="modal-card-foot">
        <button class="button is-danger" @click="closeModal">Close</button>
      </footer>
    </div>
</div>