<div class="search_area" style="padding:0 100px 0 100px">
    <span class="columns">
        <span class="column is-one-quarter"></span>
        <span class="column"><h2 class="title is-4">Applicants 2017/2018</h2></span>
        <span class="column is-one-quarter"></span>
    </span>
    <div class="field is-grouped">
        <p class="control has-icons-left">
            <span class="icon is-small is-left">
            <i class="fa fa-globe"></i>
            </span>
            <span class="select">
            <select v-model="state" name="state">
                <option :value="undefined" disabled>Select state</option>
                <option value="Abia" selected>Abia</option>
                <option value="Adamawa" >Adamawa</option>
                <option value="sokoto">Sokoto</option>
                <option value="kaduna">Kaduna</option>
                <option value="lagos">Lagos</option>
                <option value="rivers">Rivers</option>
            </select>
            </span>
        </p>
        <p class="control has-icons-left">
            <span class="icon is-small is-left">
            <i class="fa fa-book"></i>
            </span>
            <span class="select">
            <select v-model="course" name="course">
                <option :value="undefined" disabled>Select course</option>
                <option value="computer science">Computer science</option>
            </select>
            </span>
        </p>
        <p class="control is-expanded">
            <input 
              v-model="svalue"
              class="input" 
              type="text" 
              placeholder="Find applicant by Name, Phone number, or Registration number">
        </p>
        <p class="control has-icons-left">
            <span class="icon is-small is-left">
            <i class="fa fa-filter"></i>
            </span>
            <span class="select">
            <select v-model="sfield" name="sfield">
                <option :value="undefined" disabled>Filter by</option>
                <option value="mobileNo1">Phone number</option>
                <option value="surname">Surname</option>
                <option value="regnumber">Registration number</option>
            </select>
            </span>
        </p>
        <p class="control">
            <button class="button is-primary" @click="search">Search</button>
        </p>
    </div> 
</div>
