<div class="search_area" style="padding:0 100px 0 100px">
    <span class="columns">
        <span class="column is-one-quarter"></span>
        <span class="column"><h2 class="title is-4">Applicants 2017/2018</h2></span>
        <span class="column is-one-quarter"></span>
    </span>
    <div class="field is-grouped">
        <p class="control has-icons-left">
            <span class="icon is-small is-left">
            <i class="fa fa-globe"></i>
            </span>
            <span class="select">
            <select>
                <option selected>Select state</option>
                <option>Abia</option>
            </select>
            </span>
        </p>
        <p class="control has-icons-left">
            <span class="icon is-small is-left">
            <i class="fa fa-book"></i>
            </span>
            <span class="select">
            <select>
                <option selected>Select course</option>
                <option>Computer science</option>
            </select>
            </span>
        </p>
        <p class="control is-expanded">
            <input class="input" type="text" placeholder="Find applicant by Name, Applicant ID, JAMB number, or Exam Center">
        </p>
        <p class="control has-icons-left">
            <span class="icon is-small is-left">
            <i class="fa fa-filter"></i>
            </span>
            <span class="select">
            <select>
                <option selected>Applicant ID</option>
                <option>Name</option>
                <option>JAMB Number</option>
                <option>Exam center</option>
            </select>
            </span>
        </p>
        <p class="control">
            <button class="button is-primary">Search</button>
        </p>
    </div> 
</div>
