<div class="applicant_table">   
<div class="table_ctrl" style="width:70px">
    <span class="table_ctrl_item"><i class="fa fa-print"></i> Print</span>
</div>  
<table class="table is-fullwidth is-bordered is-striped is-narrow">
    <thead>
      <tr>
        <th>Name</th>
        <th>Applicant ID</th>
        <th>State</th>
        <th>JAMB no.</th>
        <th>JAMB score</th>
      </tr>
    </thead>
    <tbody> 
        <applicantTableItem 
          v-for="(applicant, index) in applicants" 
          :applicant="applicant" 
          :key="index"
        >
        </applicantTableItem>
    </tbody>
</table>   
</div>    