<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Login - Nigeria Defence Academy</title>
      
    </head>
    <body>
      <div class="login-wrapper columns">
        <div class="column is-8 is-hidden-mobile hero-banner">
          <section class="hero is-fullheight is-dark">
            <div class="hero-body">
              <div class="container section">
                <div class="has-text-right" style="font-family:garamond">
                  <h1 class="title is-1">Nigeria Defence Academy</h1> 
                  <p class="title is-3">Admin Portal</p>
                </div>
              </div>
            </div>
            <div class="hero-footer">
              <p class="has-text-centered">Nigeria Defence Academy © 2017</p>
            </div>
          </section>  
        </div>
        <div class="column is-4">
          <section class="hero is-fullheight">
            <div class="hero-heading">
              <div class="section has-text-centered">
                <img src="../../assets/img/logo.png" alt="NDA logo" width="150px">
                
              </div>
            </div>
            <br />
            <div class="hero-body">
              <div class="container">
                <div class="columns">
                  <div class="column is-8 is-offset-2">
                        
                    <div class="login-form" v-if="response_status == undefined">
                      <p class="control has-icon has-icon-right">
                        <input class="input email-input" type="text" placeholder="ola@gmail.com" v-model="user.userid">
                        <span class="icon user" style="font-size:15px">
                          <i class="fa fa-user"></i>
                        </span>
                      </p>
                      <p class="control has-icon has-icon-right">
                        <input class="input password-input" type="password" placeholder="●●●●●●●" v-model="user.password">
                        <span class="icon user" style="font-size:15px">
                          <i class="fa fa-lock"></i>
                        </span>
                      </p>
                      <p class="control login">
                        <button class="button is-success is-outlined is-large is-fullwidth" @click ="login">Login</button>
                      </p>
                    </div>
                    
                    
                    <div v-else-if="response_status == 200">
                    
                    </div>
                    <div class= "columns" v-else>
                        <span class="column"></span>
                        <span class="column" style="margin-top:100px;padding-bottom:100px">
                            <FadeLoader
                                :loading = "loading"  
                                color="#da251c"
                                size="20px"
                            ></FadeLoader>
                          </span>
                        </div>
                  
                  <div class="section forgot-password ">
                      <p class="has-text-centered" style="font-size:12px" >
                        <a href="#">Forgot password</a>
                        <a href="#">Need help?</a>
                      </p>
                                      </div>
                                    </div>
                </div>
              </div>
            </div>
          </section>  
        </div>
      </div>
    
    </body>
    </html>