<div>
  <dashTab tableLink='/' graphLink='/graph/applicantsbyfacultygrapicalrep'></dashTab>

  <div class="dash_tables" v-if="applicantsbystate.length > 0">  
    <h3 class="subtitle is-5" style="color:#00923f">Applicants by faculty/department</h3> 
    
    <div class="pagntn columns">
      <div class="column is-one-quarter"></div>
      <div class="column is-half">
        <pagination :isCurrent = true :lastPage = 36 :disabled = null></pagination>
      </div> 
      <div class="column is-one-quarter">
        <div class="table_ctrl" style="width:70px">
          <span class="table_ctrl_item"><i class="fa fa-print"></i> Print</span>
        </div>
      </div>
    </div>

    <table class="table is-fullwidth is-bordered is-striped is-narrow">
        <thead>
          <tr>
            <th>Faculty/State</th>
            <th>Department</th>
            <th>Female</th>
            <th>Male</th>
            <th>Grand Total</th>
          </tr>
        </thead> 
            <appByFacultyItem :states = "appbystate"> </appByFacultyItem>
    </table>   
  </div>  
  
  <span class="columns" v-else>
      <span class="column"></span>
      <span class="column" style="margin-top:200px;padding-bottom:200px">
          <FadeLoader
            :loading = "loading"  
            color="#da251c"
            size="20px"
          ></FadeLoader>
      </span>
  </span>
</div>