@import "../node_modules/bulma/sass/utilities/initial-variables";

$blue: #00923f;
$pink: #00923f;
$pink-invert: #fff;

//$family-serif: "Merriweather", "Georgia", serif

$primary: $pink;
$primary-invert: $pink-invert;
$danger: #DA251C;
$warning: #fff500;
$tabs-boxed-link-active-background-color: #00923f;
$tabs-link-active-color:#fff;
$navbar-item-hover-background-color:transparent;
$panel-block-active-color: #93ad5d;
$panel-block-active-icon-color:#93ad5d;
$panel-block-active-border-left-color:#93ad5d;
$modal-card-title-color:#00923f;
//$modal-content-width:1040px;
$modal-card-head-padding:5px;
//$family-primary: $family-serif;
$navbar-height:3.25rem;
$navbar-item-img-max-height:6.00rem;
@import "../node_modules/bulma/bulma.sass";